{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
<style>
    #header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .menu {
        margin-top: 1rem;
    }
</style>
{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}
    <div class="menu">
        {% if user.is_superuser %}
            <a href="{% url 'orders:order_accept_view' %}">Pending Orders</a>
        {% endif %}
    </div>
{% endblock %}
